/* common styles */

* {
  margin: 0;
  padding: 0;
  outline: none;

  /* when use padding with box sizing -- moves the elements inside of the box
  and does not increase the size of hte box */
  box-sizing: border-box;
  /* here we fix the links */
  text-decoration: none;
  /* here we "fix" the list*/
  list-style-type: none;
  font-family: 'Special Elite', cursive;
  font-weight: 400;
}

/* 1 rem  = 16 px*/
html {
  font-size: 62.5%;

  /* here we make internal scroll behaviour smooth */
  scroll-behavior: smooth;
  padding-right: 3rem;
}

body {
  background-color: #ccc;
  padding-right: 3rem;
}

/* for common flexbox styles*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* END OF COMMON STYLES */

/* MENU */

.menu {
  width: 4rem;
  height: 4rem;
  /* background only for testing and initial setup*/
  /* background-color: red; */
  position: fixed;
  top: 2rem;

  /* when navbar displayed -- menu should be on the right */
  /* left: 15vw; */
  left: 2rem;
  z-index: 10;

  /* make it a smooth transition on lines click -- menu click*/
  transition: all 0.5s;

  /* for hamburger lines*/
  /* note has common style center */
  flex-direction: column;
  /* end managing hamburger lines position */
  cursor: pointer;
}

/* these values below turn it into a plus sign
menu itself rotated above to make x*/

.change .menu-line-1 {
  /* first we rotate with rotate and move with translate*/
  transform: rotate(270deg) translateX(-0.4rem);
}

.change .menu-line-2 {
  transform: rotate(360deg) translateY(-0.4rem);
}

/*note no space so class is added */
.menu.change {
  /* this is for when we click the  menu
  we have to rotate it all to turn the plus into an x
  we do that here */

  /* to make an x*/
  transform: rotate(45deg);
  left: 15vw;
}

/* style hamburger menu*/
.menu-line {
  /* make the lines */
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  margin: 0.3rem 0;
  box-shadow: 0.1rem 0.1rem 0.3rem #222;
  /* end make lines*/

  /* lines displayfed with flexbox on .menu */

  /*make the hamburger menu transition to the x smooth */
  transition: transform 0.5s;
}

/* END OF MENU */

/* NAVBAR */
/* white is fff*/
/* width if 15vw*/
/* navbar on top as comes after in html so higher preceddence*/
/* by default navbar is hidden */
/* sections are rotated back to normal position */
.navbar {
  width: 15vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  /* left: 0; -- now hide as baselin*/
  left: -15vw;

  /* make items in a column */
  display: flex;
  flex-direction: column;
  /* end of a column */

  /* space 4 top 0 right 0 bottom and 4 on left*/
  padding: 4rem 0 0 4rem;

  /* we don't want to see the shadow */
  z-index: 10;

  /* make the click on menu smooth */
  transition: left 0.5s;
}

.navbar.change {
  left: 0;
}

/*here we manipulate the navbar links */
.navbar-link {
  font-size: 1.5rem;
  margin: 2rem 0;

  /* styling theh lineks */
  font-weight: 600;
  color: #777;
  letter-spacing: 0.3rem;
  text-transform: uppercase;

  /* transition for smooth effect for color change on hover */
  transition: color 0.3s;
}

/* change text on hover */
.navbar-link:hover {
  color: #111;
}

/* END OF NAVBAR */

/* Common Section styles */

/* wrapper will be used to create a 3d effect*/
.wrapper {
  width: 100%;

  /* to create 3d effect on section below */

  /* how far away element is away form the user and
    helps to create the 3d effect*/

  /* rotates from teh ecenter so change*/
  perspective: 50rem;
}

section {
  /* navbar is 15 vw so we make this 85 to take up side by side
  width: 85vw;
  */

  /* once we add perspective we can m ake width 100%*/
  width: 100%;
  height: 100vh;
  background-color: #efefef;

  /* positoin behind navbar -- so */
  position: relative;
  /* left: 15vw; */

  left: 0; /* start with it in this position */
  /* now we move beside by moving it left
    you could use flex 2 or 1 but this is more exact */

  /* create 3d environment */
  /* here you start to rotate -- but to effect
    must use with parent elemetn -here wrapper and add
    perspective to the wrapper -- so up to wrapper! */
  /* transform: rotateY(10deg); -- start not transformed to begin*/

  /* now the items need to not rotate from the center but from the elft */
  transform-origin: left;

  box-shadow: 0.5rem 0.5rem 1rem #aaa;

  /*make click menu lines smooth */
  /* note comma separation for multiple impacts*/
  transition: left 0.5s, transform 0.5s;
}

section.change {
  left: 15vw;
  transform: rotateY(10deg);
}

.section-heading {
  font-size: 10rem;
  font-weight: bolder;
  color: #fff;
  margin-bottom: 10rem;
  letter-spacing: 1rem;
  text-align: center;
  text-shadow: 0.3rem 0.3rem 0.5rem #555;
}
/* End of common section styles*/

/* SECTION 1*/

.section-1 {
  flex-direction: column;
  background: url(images/bg-section1.jpg) center no-repeat;
  background-size: cover;
}

/* note here we make specific to this head 
and overwrite the other general ones*/
.section-1 .section-1-heading {
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-shadow: 1rem 1rem 1rem #000, 2rem 2rem 2rem #111, 3rem 3rem 3rem #222;
}

/* if you make a width of percentage for an image
it will be responsive to different screen sizes*/
.section-1-img {
  width: 70%;
}
/* END OF SECTION 1*/

/* SECTION 2*/

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  width: 50rem;
  margin: 0 3rem;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0.6rem 0.6rem 0.6rem #bbb;
  transition: box-shadow 0.5s;

  /* for card title below car-name*/
  position: relative;
}

.card:hover {
  box-shadow: 0.8rem 0.8rem 0.8rem #bbb;
}

/*title */
.car-name {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;

  /* move it down a bit from the coener */
  /* set according to parent car which set to relative*/
  position: absolute;

  top: 2rem;
  left: 2rem;
  z-index: 10;
}

.card-img {
  /* willl take up 100% of parent element the card*/
  width: 100%;

  /* increase opacity on hover
  so decrease to start*/
  opacity: 0.7;
  transition: opacity 0.5s;
}

.card:hover .card-img {
  opacity: 1;
}

.car-price {
  font-size: 1.8rem;
  color: #777;
  margin: 0.5rem 0;
}

.card-btn {
  width: 100%;
  background-color: #fff;
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;

  /* get rid of default border*/
  border: none;
  margin-top: 1rem;
  padding: 0.5rem;
  color: #fff;

  /* shadow*/
  /* note the usage of text shadow */
  text-shadow: 0.1rem 0.1rem 0.3rem #000;
  box-shadow: 0.1rem 0.1rem 0.5rem #bbb;
  cursor: pointer;
}

/* END OF SECGTION 2*/

/* SECTION 3 */

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #222; /* dark gray*/
}
.video {
  width: 25%;
  margin: 0 2rem;
  border-radius: 0.5rem;
  opacity: 0.8;
  box-shadow: 0.3rem 0.3rem 0.5rem #111;
  transition: all 0.5s;
}

.video:hover {
  opacity: 1;
  box-shadow: 0.5rem 0.5rem 1rem #111;
  cursor: pointer;
}

/* END OF SECTION 3*/

/* START OF SECTION 4 */

.section-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery {
  margin: 10rem 0;

  /*perspective is required to allow the 
  psuedo shelf before element to be visible*/
  perspective: 20rem;
}

/* now we define the shelf*/
/* placed in teh center with margin auto*/
.gallery-shelf {
  width: 80%;
  height: 3rem;
  background-color: rgba(38, 126, 199, 0.8);

  /*notice how placed in the center with margin:auto;*/
  margin: auto;

  /*this is for the before pseudo element below*/
  /* note that parent here is the non pseudo element*/
  position: relative;
  box-shadow: 1rem 1rem 5rem #444;
}

/* to create the box shadow effect use before pseudo element */
.gallery-shelf::before {
  content: '';
  position: absolute;

  width: 100%;
  height: 10rem;
  background-color: rgba(34, 152, 248, 0.7);

  /* note that here the box is 10 rem high
  so we move it up that height */
  top: -10rem;

  /* now we rotate according to the x axis*/
  transform: rotateX(20deg);
  /* transform the item */
  /* transform: skewX(-20deg); */

  transform-origin: bottom;
}

.gallery img {
  width: 15%;
  /* hide on dev*/
  /* display: none; */
  /* end hide on dev*/

  position: absolute;
  bottom: 6rem;
  transform: translateX(-50%) rotateX(0.5deg);
  box-shadow: 0.2rem -0.2rem 0.5rem #888;
  border-radius: 0.5rem;
  transform-origin: bottom;
  transition: all 0.3s;
}

.gallery img:hover {
  transform: translateX(-50%) rotateX(0);
  box-shadow: 0 0.2rem 0.3rem #888;
}

.gallery-img-1 {
  left: 50%;
}

.gallery-img-2 {
  left: 30%;
}

.gallery-img-3 {
  left: 70%;
}

/* END OF SECTION 4 */

/* SECTION 5 */

.section-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(images/bg-section5.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  /* here is where we make it go righ tot hte bottom */
  margin-bottom: 0;
}

.contact-form {
  width: 60rem;
  height: 45rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2rem solid rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 4rem;
  margin: 2rem 0;
  background-color: transparent;
  padding: 0.5rem;
  border: 0.1rem solid #fff;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: #fff;
  flex-shrink: 0;
}

.contact-form textarea {
  max-width: 100%;
  min-height: 8rem;
}

.form-input:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.contact-form .form-btn {
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  letter-spacing: 0.3rem;
  color: #444;
  cursor: pointer;
}

.copyright {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
/* END OF SECTION 5 */

/* RESPONSIVE */

/* BUILT ON 1980 WIDTH X 1080 HEIGHT */

/* 1500 */

@media (max-width: 1500px) {
  .navbar {
    width: 20vw;
    padding: 2rem 0 0 2rem;
    left: -20vw;
  }

  .menu.change {
    /* note how width and left have to be equal */
    left: 20vw;
  }

  section.change {
    left: 20vw;
    transform: rotateY(15deg);
  }

  .section-heading {
    font-size: 7rem;
  }

  .section-1 {
    justify-content: space-evenly;
  }

  .section-2 {
    height: auto;
    padding: 5rem 0 10rem 0;
  }

  /* note how we make it flex-wrap rather than changing flex direction */
  /* it will just wrap it automatically */
  .cards-wrapper {
    flex-wrap: wrap;
  }

  .card {
    width: 40rem;
    margin: 3rem;
  }

  .section-3 {
    padding: 5rem 3rem;
  }

  .video {
    width: 30%;
    margin: 2rem;
  }

  /* section 4 */

  .section-4 {
    height: auto;
  }

  .gallery {
    margin: 12rem 0;
  }

  .gallery-shelf {
    width: 90%;
  }

  .gallery img {
    width: 20%;
  }

  .gallery-img-2 {
    left: 20%;
  }

  .gallery-img-3 {
    left: 75%;
  }

  /* section 5 */
  .section-5 {
    height: auto;
  }

  .contact-form {
    width: 55rem;
    height: 40rem;
    padding: 2rem;
  }

  .copyright {
    margin-top: 5rem;
  }
}

@media (max-width: 1000px) {
  body {
    padding-right: 0;
  }

  .navbar {
    width: 25vw;
    left: -20vw;
  }

  .menu.change {
    /* note how width and left have to be equal */
    left: 20vw;
  }

  section.change {
    left: 20vw;
    transform: rotateY(20deg);
  }

  /* secction 1 */
  .section-1-img {
    width: 90%;
  }

  /*section 3 */

  .section-3 {
    height: auto;
  }
  .videos-wrapper {
    flex-direction: column;
  }

  .video {
    width: 70%;
    margin: 3rem 0;
  }
}

@media (max-width: 750px) {
  .navbar {
    width: 30vw;
    left: -30vw;
  }

  .menu.change {
    /* note how width and left have to be equal */
    left: 20vw;
  }

  section.change {
    left: 20vw;
    transform: rotateY(25deg);
  }

  .section-heading {
    font-size: 5.5rem;
  }

  .gallery-shelf {
    height: 1.5rem;
    width: 95%;
  }

  .gallery-shelf::before {
    height: 5rem;
    top: -5rem;
  }

  .gallery img {
    width: 25%;
    bottom: 4rem;
  }

  .gallery-img-2 {
    left: 22%;
  }

  .gallery-img-3 {
    left: 78%;
  }

  /* secton 4 */
  .section-4 {
    padding: 6rem 0 1rem 0;
  }
}

/* HTML CHANGES START AT ABOUT 600  */
@media (max-width: 600px) {
  html {
    font-size: 55.5%;
  }

  .navbar {
    width: 40vw;
    left: -40vw;
  }

  .menu.change {
    left: 40vw;
  }

  /* note here we no longer rotate the screen */
  section.change {
    left: 0;
    transform: rotateY(0);
  }

  .section-heading {
    font-size: 4.5rem;
  }

  .section-1-img {
    width: 100%;
  }

  .video {
    width: 100%;
    margin: 2rem 0;
  }

  .gallery {
    margin: 9rem 0;
  }

  .contact-form {
    width: 40rem;
    border: 1rem solid rgba(255, 255, 255, 0.8);
  }
}

@media (max-width: 400px) {
  html {
    font-size: 40%;
  }

  .copyright {
    width: 80%;
  }
}
/* End of Responsive */

/* End of Responsive */
